$theme-colors: (
  "primary": #3a78c2,
  "dark": #37385f,
  "light": #f7f6f6,
  "dark-accent": #d76a5f,
  "light-accent": #d7ad9f
);

$body-bg: map-get($theme-colors, "dark");
$body-color: map-get($theme-colors, "light");
$enable-rounded: false;

.print-style {
  color: black;
  background-color: white;
  padding: 50px;
}

.nav-link {
  margin-left: 20px;
  color: map-get($theme-colors, "primary");
  border-bottom: 2px solid map-get($map: $theme-colors, $key: "light");
}

.active {
  animation: underline 0.7s forwards;
}

.toggled {
  animation: button-focus 0.7s forwards;
}

.untoggled {
  animation: button-losefocus 0.7s forwards;
}

.navbar-toggler {
  color: map-get($theme-colors, "dark");
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

@keyframes underline {
  0% {
    border-bottom-color: map-get($map: $theme-colors, $key: "light");
  }
  100% {
    border-bottom-color: map-get($map: $theme-colors, $key: "dark-accent");
  }
}

@keyframes button-losefocus {
  0% {
    color: map-get($map: $theme-colors, $key: "dark-accent");
  }
  100% {
    color: map-get($map: $theme-colors, $key: "dark");
  }
}

@keyframes button-focus {
  0% {
    color: map-get($map: $theme-colors, $key: "dark");
  }
  100% {
    color: map-get($map: $theme-colors, $key: "dark-accent");
  }
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
